.blog-head-inn{width:25%;padding-top:100px!important;padding-right:42px;text-align:left}
.oops{margin-top:10px;color: red;font-size:1.3em;}
.footer-link-copyright{color:yellow; font-size:10px;margin-top:-10px;width:100%;text-align:center}